#onboarding-form h2 {
    text-align: left;
}

.onboard-button-bar {
    padding: 32px 0px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.input-single {
    padding: 8px;
}

.input-pair {
    display: flex;
    flex-direction: row;
}

.input-pair>* {
    flex-grow: 1;
    padding: 8px;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

#account-configuration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8px;
}

.region-item {
    padding: 8px 0px;
}

.group-item {
    padding: 8px 0px;
}

.buy-now-button:hover {
    background-color: var(--joy-palette-primary-solidHoverBg, var(--joy-palette-primary-600, #185EA5));
}

.buy-now-button {
    --Icon-margin: initial;
    --Icon-color: currentColor;
    --Icon-fontSize: var(--joy-fontSize-xl2, 1.5rem);
    --CircularProgress-size: 28px;
    --CircularProgress-thickness: 4px;
    --Button-gap: 0.75rem;
    min-height: var(--Button-minHeight, 2.75rem);
    font-size: var(--joy-fontSize-md, 1rem);
    padding-block: 0.375rem;
    padding-inline: 1.5rem;
    -webkit-tap-highlight-color: transparent;
    border-radius: var(--Button-radius, var(--joy-radius-sm, 6px));
    margin: var(--Button-margin);
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
    font-weight: var(--joy-fontWeight-lg, 600);
    line-height: 1;
    --variant-borderWidth: 0px;
    color: var(--joy-palette-primary-solidColor, var(--joy-palette-common-white, #FFF));
    background-color: var(--joy-palette-primary-solidBg, var(--joy-palette-primary-500, #0B6BCB));
}

button.buy-now-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}